<div class="container-daily row ">
  <!--<h3>Weekly Forecast</h3>-->
  <div class="col-xs-4 col-md-2 " *ngFor="let day of days">

    <h4 class="pull-left">{{day.time *1000 | date:"EEEE"}}</h4>
    <br>    <br>
    <span class="pull-left">{{day.time *1000 | date:"MMM dd"}}</span>

    <br><br>
    <canvas [attr.id]="'icon-daily'+day.time" class="icons-daily" width="84" height="84">{{day.icon}}</canvas>
    <br>
    <span class="pull-left"><h3><strong>{{day.temperatureMax | temperatureConverter:daily.scale }}&#176;</strong>/
      <small>{{day.temperatureMin | temperatureConverter:daily.scale }}&#176;</small></h3></span>

    <span class="pull-left">{{day.summary}}</span>
  </div>
</div>
