.hourly-daily{
  margin-top: 80px;
}

.hourly-table {
  margin-top: 40px;
  padding: 15px 0;
  /*background: #fff;*/
  border-radius: 3px;
  /*border: 1px solid #bdbab9;*/
  text-align: left;
  font-size: 13px;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.hourly-table th {
  width: 110px;
  padding-left: 15px;
  color: white;
}

.hourly-table tbody td,
.hourly-table tbody th {
  vertical-align: middle;
}

.hourly-table thead tr {
  height: 70px;
  color: white;
}

.hourly-table thead th {
  display: table-cell;
}

.hourly-table td {
  width: auto;
  font-size: 13px;
}

.hourly-table tbody tr {
  border-top: 1px solid #c8c8c8;
}

.hourly-table tr {
  width: 100%;
  height: 43px;
}

.hourly-table div,
.hourly-table span {
  color: white;
}

.hourly-table tbody span {
  font-size: 13px;
}

.wind-direction {
  display: inline-block;

}

