@import "~bootstrap/dist/css/bootstrap.min.css";
/*@import "~font-awesome/css/font-awesome.css";*/


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}
