<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Cape Town Weather Central</a>
    </div>
    <!--<ul class="nav navbar-nav pull-right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>-->
    <div class="radio pull-right">
      <label class="radio-inline"><input type="radio" name="scalesradio" [checked]="scale === 1">&#176;F</label>
      <label class="radio-inline"><input type="radio" name="scalesradio" [checked]="scale === 2">&#176;C</label>
    </div>
  </div>
</nav>
